
/**

  Authors: Toni Ruottu, Finland 2010-2019

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

/*
Bar

The bottom bar. Ties together the more graphical part of the user interface.

markup:
<div class="dwst-base">
  <div class="dwst-bar">
    <div class="dwst-bar__item dwst-time dwst-time--panel" id="clock1">12:34<span class="dwst-time__sec">:56</span></div>
    <div class="dwst-bar__item dwst-bar__item--grow"><div class="dwst-prompt">
      <div class="dwst-prompt__input">
        <label for="input-field-id" style="position: absolute; left: -10000px;">command prompt</label>
        <input class="dwst-text-input" id="input-field-id" type="text" value="example user input">
      </div>
      <div class="dwst-prompt__button">
        <button class="dwst-button dwst-button--send" aria-label="send"></button>
      </div>
    </div></div>
    <div class="dwst-bar__item"><button class="dwst-button dwst-button--splash" aria-label="menu"></button></div>
  </div>
</div>

Styleguide 2.7
*/

.dwst-bar {
  width: 100%;
  height: 100%;
  display: table;
  background-color: var(--dwst-color-gray-2);
  border-spacing: 1em 0;
}
.dwst-bar__item {
  display: table-cell;
  vertical-align: middle;
  background-color: var(--dwst-color-gray-1);
}
.dwst-bar__item--grow {
  width: 100%;
}
