
/**

  Authors: Toni Ruottu, Finland 2010-2017

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

.dwst-base {
  background-color: var(--dwst-color-black);
  color: var(--dwst-color-gray--light);
  font-family: monospace;
  font-size: 3.9vw;
  height: 100%;
  margin: 0;
}
@media only screen and (min-width: 500px) {
  .dwst-base {
    font-size: 10pt;
  }
}
