
/*
Base Style

This is the base style that everything else in DWST Style Guide builds upon.

markup:
<div class="dwst-base">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis, elit ut fringilla viverra, neque mauris maximus mauris, sed dapibus lectus massa in eros. Phasellus ullamcorper sapien arcu, id vestibulum dolor pellentesque et. Mauris sem magna, ultricies vel enim vitae, consequat bibendum quam. Aenean ultrices nulla ac condimentum porttitor. In venenatis aliquet lorem aliquet fringilla. Aenean placerat sodales nisl, ut maximus nisl convallis non. Vestibulum sit amet tempor massa. Curabitur eu dapibus nisl. Proin faucibus tristique tortor, luctus finibus dolor imperdiet eu. Fusce non ligula dictum ante auctor viverra.
</div>

Styleguide 1.1
*/

.dwst-base {
  background-color: var(--dwst-color-black);
  color: var(--dwst-color-gray--light);
  font-family: monospace;
  font-size: 3.9vw;
  height: 100%;
  margin: 0;
}
@media only screen and (min-width: 500px) {
  .dwst-base {
    font-size: 10pt;
  }
}
