
/**

  Authors: Toni Ruottu, Finland 2010-2018

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

/*
Button

Buttons are used to navigate the app and execute commands without a keyboard.
The buttons have an alternative simple form for cases when images are still loading or fail to load entirely.
The examples below shows both the regular form and then the simple form for each button.

--send - send button for sending text and executing commands
--splash - splash button for navigating back to "home screen"
--splash-connected - special splash button for an active connection

markup:
<div class="dwst-base">
  <button class="dwst-button dwst-button{$modifiers}" aria-label="action description"></button>
  <button class="dwst-button dwst-button{$modifiers}" aria-label="action description" style="background-image: none;"></button>
</div>

Styleguide 2.4
*/

.dwst-button {
  display: block;
  border-width: 0;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
}

.dwst-button--send {
  height: var(--dwst-bar-height);
  width: var(--dwst-bar-height);
  background-color: var(--dwst-color-gray-4);
  background-image: url('../sprites/return.png');
}
.dwst-button--send:hover {
  background-color: var(--dwst-color-gray-7);
  background-image: url('../sprites/return-hover.png');
}

.dwst-button--splash {
  height: calc(var(--dwst-bar-height));
  width: 48px;
  background-color: var(--dwst-color-gray-4);
  background-image: url('../sprites/minilogo.png');
}
.dwst-button--splash:hover {
  background-color: var(--dwst-color-gray-7);
  background-image: url('../sprites/minilogo-hover.png');
}

.dwst-button--splash-connected {
  height: calc(var(--dwst-bar-height));
  width: 48px;
  background-color: var(--dwst-color-green);
  background-image: url('../sprites/minilogo-connected.png');
}
.dwst-button--splash-connected:hover {
  background-color: var(--dwst-color-green--light);
  background-image: url('../sprites/minilogo-connected-hover.png');
}
