
.dwst-debug__background-guide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 42ch;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .dwst-debug__background-guide {
    width: 74ch;
  }
}
@media only screen and (min-width: 750px) {
  .dwst-debug__background-guide {
    width: 110ch;
  }
}
.dwst-debug--guides .dwst-debug__background-guide {
  background-color: var(--dwst-color-debug-orange);
}

.dwst-debug__content-guide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2ch;
  right: 0;
  width: 38ch;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .dwst-debug__content-guide {
    width: 70ch;
  }
}
@media screen and (min-width: 750px) {
  .dwst-debug__content-guide {
    left: 20ch;
  }
}
.dwst-debug--guides .dwst-debug__content-guide {
  background-color: var(--dwst-color-debug-brown);
}
