
/**

  Authors: Toni Ruottu, Finland 2010-2018

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

/*
Direction

The communication direction indicator is used to tell the users what caused specific messages to get printed.

--sent - sent message indicator
--received - received message indicator
--command - executed command indicator
--error - error message indicator
--warning - warning message indicator
--system - system message indicator

markup:
<div class="dwst-base">
  <span class="dwst-direction dwst-direction{$modifiers}">communication direction:</span>
</div>

Styleguide 2.3
*/

.dwst-direction {
  overflow: hidden;
  text-align: right;
}

.dwst-direction--sent {
  color: var(--dwst-color-blue--light);
}

.dwst-direction--received {
  color: var(--dwst-color-red--light);
}

.dwst-direction--command {
  color: var(--dwst-color-cyan--light);
}

.dwst-direction--error {
  color: var(--dwst-color-red);
}

.dwst-direction--warning {
  color: var(--dwst-color-yellow);
}

.dwst-direction--system {
  color: var(--dwst-color-green--light);
}
