
/**

  Authors: Toni Ruottu, Finland 2010-2018

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/


/* stylelint-disable */
/*
Gfx

We use the gfx component is used for colorful "ascii art". Each line is 110 characters long.
The line contents are aligned left when all of the characters fit on the screen.
The line contents are centered on smaller screens where some of the characters won't fit on the screen.
In the app we use javascript to snap the centering to the monospace character grid.
Perhaps it is possible to make the snapping work with pure CSS some day.
The first line in the example markup is an attempt to visualize safe areas for different breakpoints.
The component supports 20 colors all thought the two blacks (0 and a) are perhaps not so useful
since we would typically have a dark background.

markup:
<div class="dwst-base">
  <div class="dwst-gfx">
    <div class="dwst-gfx__content">
      <div class="dwst-gfx__line"><span class="dwst-gfx__element">.       HH.      dd .        ..  TT    ..        ..        ..        ..    TT  ..        . dd      .HH       .</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-0">00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-1">11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-2">22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-3">33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-4">44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-5">55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-6">66666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-7">77777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-8">88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-9">99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-a">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-b">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-c">cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-d">dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-e">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-f">ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-g">gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-h">hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-i">iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</span></div>
      <div class="dwst-gfx__line"><span class="dwst-gfx__element dwst-gfx__element--color-j">jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</span></div>
      <div class="dwst-gfx__background"></div>
    </div>
  </div>
</div>

Styleguide 2.9
*/
/* stylelint-enable */

.dwst-gfx {
  max-width: 110ch;
  overflow: hidden;
}

.dwst-gfx__content {
  overflow: hidden;
  max-width: 110ch;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.dwst-gfx__background {
  background: var(--dwst-color-black);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.dwst-gfx__line {
  margin: 0 auto;
}
.dwst-gfx__element {
  white-space: pre;
}

.dwst-gfx__element--color-0 {
  color: var(--dwst-color-black--af);
}
.dwst-gfx__element--color-1 {
  color: var(--dwst-color-blue);
}
.dwst-gfx__element--color-2 {
  color: var(--dwst-color-green);
}
.dwst-gfx__element--color-3 {
  color: var(--dwst-color-cyan);
}
.dwst-gfx__element--color-4 {
  color: var(--dwst-color-red);
}
.dwst-gfx__element--color-5 {
  color: var(--dwst-color-purple);
}
.dwst-gfx__element--color-6 {
  color: var(--dwst-color-yellow);
}
.dwst-gfx__element--color-7 {
  color: var(--dwst-color-white);
}
.dwst-gfx__element--color-8 {
  color: var(--dwst-color-gray);
}
.dwst-gfx__element--color-9 {
  color: var(--dwst-color-pink);
}

.dwst-gfx__element--color-a {
  color: var(--dwst-color-black);
}
.dwst-gfx__element--color-b {
  color: var(--dwst-color-blue--light);
}
.dwst-gfx__element--color-c {
  color: var(--dwst-color-green--light);
}
.dwst-gfx__element--color-d {
  color: var(--dwst-color-cyan--light);
}
.dwst-gfx__element--color-e {
  color: var(--dwst-color-red--light);
}
.dwst-gfx__element--color-f {
  color: var(--dwst-color-purple--light);
}
.dwst-gfx__element--color-g {
  color: var(--dwst-color-yellow--light);
}
.dwst-gfx__element--color-h {
  color: var(--dwst-color-white--af);
}
.dwst-gfx__element--color-i {
  color: var(--dwst-color-gray--light);
}
.dwst-gfx__element--color-j {
  color: var(--dwst-color-pink--light);
}
