
/**

  Authors: Toni Ruottu, Finland 2010-2017

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

.dwst-log-entry {
  padding: 0 1ch;
  display: grid;
  grid-template-columns: 1ch calc(100% - 2ch);
  grid-column-gap: 1ch;
}
@media screen and (min-width: 750px) {
  .dwst-log-entry {
    grid-template-columns: 8ch 10ch calc(100% - 8ch - 10ch - 2 * 1ch);
  }
}

.dwst-log-entry__time {
  vertical-align: top;
  display: none;
}
@media screen and (min-width: 750px) {
  .dwst-log-entry__time {
    display: initial;
  }
}

.dwst-log-entry__direction {
  vertical-align: top;
}

.dwst-log-entry__content {
  vertical-align: top;
}
