
/**

  Authors: Toni Ruottu, Finland 2010-2018

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/


/*
MLog

Single textual log entry with formatting and line break support.

markup:
<div class="dwst-base">
  <span class="dwst-mlog"><span class="dwst-mlog__h1">Level 1 Heading</span>
<span class="dwst-mlog__h2">Level 2 Heading</span>
unformatted text
something <span class="dwst-mlog__strong">important</span>
help for a <span class="dwst-mlog__help-link-wrapper"><a class="dwst-mlog__help-link" href="#" title="/help command">command</a></span>
help on a <span class="dwst-mlog__help-link-wrapper"><a class="dwst-mlog__help-link" href="#" title="/help #topic">#topic</a></span>
<a class="dwst-mlog__command-link" href="#" title="/command example">/command example</a>
<span class="dwst-mlog__help-link-wrapper"><a class="dwst-mlog__help-link dwst-mlog__help-link--warning" href="#" title="/help #privacy">warning link</a></span>
<a href="https://example.com/" target="_blank" rel="noopener" class="dwst-mlog__link">external link</a>
<span class="dwst-mlog__syntax">/syntax [example]</span>
<span class="dwst-mlog__code">code example</span>
<span class="dwst-mlog__hexline"><span class="dwst-byte-grid"><span class="dwst-byte-grid__item">68 65 78 20</span><span class="dwst-byte-grid__item">hex </span><span class="dwst-byte-grid__item">65 78 61 6d</span><span class="dwst-byte-grid__item">exam</span><span class="dwst-byte-grid__item">70 6c 65</span><span class="dwst-byte-grid__item">ple </span><span class="dwst-byte-grid__item"></span><span class="dwst-byte-grid__item">    </span></span></span>
forced linebreak (<br class="dwst-mlog__br">)
empty row under a <span class="dwst-mlog__help-link-wrapper"><a class="dwst-mlog__help-link dwst-mlog__help-link--spacing" href="#" title="/help help">help</a></span> link
comma for listing <span class="dwst-mlog__help-link-wrapper dwst-mlog__help-link-wrapper--nowrap"><a class="dwst-mlog__help-link" href="#" title="/help help">help</a>,</span> links
</div>

Styleguide 2.8
*/

.dwst-mlog {
  white-space: pre-wrap;
  word-wrap: break-word;
  hyphens: none;
}
.dwst-mlog__help-link-wrapper--nowrap {
  white-space: nowrap;
}
.dwst-mlog__help-link {
  color: var(--dwst-color-gray);
  font-style: italic;
  text-decoration: none;
}
.dwst-mlog__help-link--spacing {
  display: inline-block;
  padding-bottom: 1ch;
}
.dwst-mlog__help-link--warning {
  color: var(--dwst-color-white);
  font-style: normal;
  text-decoration: underline;
}
.dwst-mlog__help-link:hover {
  color: var(--dwst-color-yellow--light);
  text-decoration: none;
}
.dwst-mlog__help-link--warning:hover {
  color: var(--dwst-color-white);
  font-style: normal;
  text-decoration: underline;
}
.dwst-mlog__command-link {
  color: var(--dwst-color-cyan);
  text-decoration: none;
  text-indent: -2ch;
  margin-left: 2ch;
  display: inline-block;
}
.dwst-mlog__command-link:hover {
  color: var(--dwst-color-cyan--light);
  text-decoration: none;
}
.dwst-mlog__hexline {
  display: inline-block;
  color: var(--dwst-color-gray);
}
.dwst-mlog__code {
  color: var(--dwst-color-pink);
}
.dwst-mlog__strong {
  color: var(--dwst-color-pink);
  font-weight: bold;
}
.dwst-mlog__h1 {
  color: var(--dwst-color-white);
  font-weight: bold;
}
.dwst-mlog__h2 {
  color: var(--dwst-color-white);
  text-transform: uppercase;
}
.dwst-mlog__link {
  color: var(--dwst-color-blue);
}
.dwst-mlog__syntax {
  font-style: italic;
  text-indent: -2ch;
  margin-left: 2ch;
  display: inline-block;
}
