
/**

  Authors: Toni Ruottu, Finland 2010-2018

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

/*
Notification

Notifications are used to inform users about pressing matters. Currently there is only one telling the user that auto scrolling is disabled at the moment.

markup:
<div class="dwst-base">
  <div class="dwst-notification">
    <a href="#" class="dwst-notification__link">scroll to bottom</a>
  </div>
</div>

Styleguide 2.10
*/

.dwst-notification {
  height: var(--dwst-bar-height);
  line-height: var(--dwst-bar-height);
  text-align: center;
  background-color: var(--dwst-color-purple--transparent);
  color: #fff;
}

.dwst-notification__link {
  color: #fff;
}
