
/**

  Authors: Toni Ruottu, Finland 2010-2017

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

.dwst-prompt {
  width: 100%;
  height: var(--dwst-bar-height);
  position: relative;
}
.dwst-prompt__input {
  vertical-align: middle;
  width: calc(100% - var(--dwst-bar-height));
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
}
.dwst-prompt__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
