
/**

  Authors: Toni Ruottu, Finland 2010-2018

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

::-webkit-scrollbar {
  height: 14px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dwst-color-purplified-black);
}

::-webkit-scrollbar-thumb {
  background: var(--dwst-color-purplified-gray);
  border-radius: 0;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--dwst-color-wtf2);
}
