
/**

  Authors: Toni Ruottu, Finland 2010-2019

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/

/*
Text Input

Basic text input. The text inputs adapt their size based on the containing element.

markup:
<div class="dwst-base" style="position: relative; height: 30px;">
  <input class="dwst-text-input" type="text" value="example user input">
</div>

Styleguide 2.6
*/

.dwst-text-input {
  width: 100%;
  height: 100%;
  background-color: var(--dwst-color-gray-1);
  color: var(--dwst-color-white);
  font-family: monospace;
  border-width: 0;
  outline: none;
  box-sizing: border-box;
}
