
/**

  Authors: Toni Ruottu, Finland 2010-2019

  This file is part of Dark WebSocket Terminal.

  CC0 1.0 Universal, http://creativecommons.org/publicdomain/zero/1.0/

  To the extent possible under law, Dark WebSocket Terminal developers have waived all
  copyright and related or neighboring rights to Dark WebSocket Terminal.

*/


/*
Time

Default - The basic version used for time stamps
--placeholder - Transparent placeholder for making layout space reservation
--panel - Panel widget version

markup:
<div class="dwst-base">
  <span class="dwst-time dwst-time{$modifiers}">00:00<span class="dwst-time__sec">:00</span></span>
</div>

Styleguide 2.1
*/

.dwst-time__sec {
  color: var(--dwst-color-gray-7);
}
.dwst-time--panel {
  display: block;
  height: var(--dwst-bar-height);
  line-height: var(--dwst-bar-height);
  background-color: var(--dwst-color-gray-2);
  color: var(--dwst-color-gray-d);
}
.dwst-time--placeholder {
  background-color: transparent;
  color: transparent;
}
.dwst-time--placeholder .dwst-time__sec {
  color: transparent;
}
