
body
{
  font-size: 10pt;
  height: 100%;
  background-color: #540;
}
.button
{
  width: 3em;
}
.direction
{
  width: 3em;
  text-align: right;
}

.sent
{
  color: #77c;
}

.received
{
  color: #c77;
}

.command
{
  color: #3ef;
}

.error
{
  color: #f00;
}

.warning
{
  color: #dd0;
}

.system
{
  color: #7f7;
}

.time
{
  width: 3em;
}

.sec
{
  color: #777;
}

table.terminal
{
  background-color: #000;
  color: #ccc;
  font-family: monospace;
}
input[type="text"]
{
  background-color: #444;
  color: #fff;
  font-family: monospace;
  border: thin solid #f00;
}

.bar2 input[type="text"]
{
  border: thin solid #000;
  width: 100%;
}

.consolebar input[type="button"]
{
  padding: 0;
  width: 5em;
}

body
{
  margin: 0;
}
.logline td
{
  vertical-align: top;
}
.preserved {
  white-space: pre;
}

.consolebar
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24pt;
  background-color: #222;
}

.consolebar .time
{
  font-family: monospace;
  width: 1em;
  color: #ddd;
}

.consolebar .leftpad
{
  padding-left: 1em;
}

.consolebar .rightpad
{
  padding-right: 1em;
}

#screen1
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 24pt;
  background-color: #000;
  overflow: auto;
  vertical-align: top;
  -webkit-user-select: text;
  cursor: text;
}

.bar2
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24pt;
}
.dwst-mlog__help-link {
  color: #7a7;
  font-style: italic;
  text-decoration: none;
}
.dwst-mlog__help-link:hover {
  color: #7f7;
  text-decoration: none;
}
.dwst-mlog__command-link {
  color: #6ab;
  text-decoration: none;
}
.dwst-mlog__command-link:hover {
  color: #3ef;
  text-decoration: none;
}
.dwst-mlog__hexline {
  color: #888;
}
.dwst-mlog__strong {
  font-weight: bold;
}
.dwst-mlog__syntax {
  font-style: italic;
}
