
/*
Dark WebSocket Terminal

CC0, http://creativecommons.org/publicdomain/zero/1.0/

To the extent possible under law, Dark WebSocket Terminal developers have waived all copyright and related or neighboring rights to Dark WebSocket Terminal.

Dark WebSocket Terminal developers:
Toni Ruottu <toni.ruottu@iki.fi>, Finland 2010-2017
William Orr <will@worrbase.com>, US 2012

*/

:root {

  --dwst-color-black: #030303;
  --dwst-color-black--af: #000;
  --dwst-color-white: #fffefd;
  --dwst-color-white--af: #fff;

  --dwst-color-blue: #27b;
  --dwst-color-blue--light: #77c;
  --dwst-color-cyan: #6ab;
  --dwst-color-cyan--light: #3ef;
  --dwst-color-green: #464;
  --dwst-color-green--light: #7f7;
  --dwst-color-pink: #d6a;
  --dwst-color-pink--light: #f8c;
  --dwst-color-purple: #614;
  --dwst-color-purple--transparent: rgba(102, 17, 68, 0.5);
  --dwst-color-purple--light: #936;
  --dwst-color-red: #f00;
  --dwst-color-red--light: #c77;
  --dwst-color-yellow: #ffa;
  --dwst-color-yellow--light: #ff0;
  --dwst-color-gray: #888786;
  --dwst-color-gray--light: #cccbca;

  --dwst-color-gray-1: #111;
  --dwst-color-gray-2: #222;
  --dwst-color-gray-4: #444;
  --dwst-color-gray-7: #777;
  --dwst-color-gray-d: #ddd;

  --dwst-color-purplified-black: #150010;
  --dwst-color-purplified-gray: #302;

  --dwst-color-debug-brown: #131303;
  --dwst-color-debug-orange: #431303;

  --dwst-bar-height: 24pt;

}

body
{
  font-family: monospace;
  font-size: 3.9vw;
  height: 100%;
  background-color: var(--dwst-color-black--af);
}
@media only screen and (min-width: 500px) {
  body {
    font-size: 10pt;
  }
}

.button
{
  width: auto;
  padding: 0 1em 0 0;
}
input[type="text"]
{
  background-color: var(--dwst-color-gray-4);
  color: var(--dwst-color-white);
  font-family: monospace;
  border: thin solid var(--dwst-color-red);
}

.bar2 input[type="text"]
{
  background-color: var(--dwst-color-gray-1);
  border-width: 0;
  width: 100%;
  outline: none;
}
.bar2 input[type="text"]:active {
  border-width: 0;
}

.consolebar input[type="button"]
{
  padding: 0;
  width: 5em;
}

body
{
  margin: 0;
}
.preserved {
  white-space: pre-wrap;
}

.consolebar
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--dwst-bar-height);
  background-color: var(--dwst-color-gray-2);
}

.consolebar .time
{
  font-family: monospace;
  width: 1em;
  color: var(--dwst-color-gray-d);
}

.sec
{
  color:  var(--dwst-color-gray-7);
}

.consolebar .leftpad
{
  padding-left: 1em;
}

.consolebar .rightpad
{
  padding-right: 1em;
}

.bar2
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--dwst-bar-height);
}
.dwst-mlog__help-link-wrapper--nowrap {
  white-space: nowrap;
}
.dwst-mlog__help-link {
  color: var(--dwst-color-gray);
  font-style: italic;
  text-decoration: none;
}
.dwst-mlog__help-link--spacing {
  display: inline-block;
  padding-bottom: 1ch;
}
.dwst-mlog__help-link--warning {
  color: var(--dwst-color-white);
  font-style: normal;
  text-decoration: underline;
}
.dwst-mlog__help-link:hover {
  color: var(--dwst-color-yellow--light);
  text-decoration: none;
}
.dwst-mlog__command-link {
  color: var(--dwst-color-cyan);
  text-decoration: none;
  text-indent: -2ch;
  margin-left: 2ch;
  display: inline-block;
}
.dwst-mlog__command-link:hover {
  color: var(--dwst-color-cyan--light);
  text-decoration: none;
}
.dwst-mlog__hexline {
  display: inline-block;
  color: var(--dwst-color-gray);
}
.dwst-mlog__code {
  color: var(--dwst-color-pink);
}
.dwst-mlog__strong {
  color: var(--dwst-color-pink);
  font-weight: bold;
}
.dwst-mlog__h1 {
  color: var(--dwst-color-white);
  font-weight: bold;
}
.dwst-mlog__h2 {
  color: var(--dwst-color-white);
  text-transform: uppercase;
}
.dwst-mlog__link {
  color: var(--dwst-color-blue);
}
.dwst-mlog__link:hover {
  color: var(--dwst-color-pink--light);
}
.dwst-mlog__syntax {
  font-style: italic;
  text-indent: -2ch;
  margin-left: 2ch;
  display: inline-block;
}
.splash-button {
  position: relative;
  top: -3px;
  height: 26px;
  width: 48px;
  background-image: url('minilogo.png');
}
.splash-button:hover {
  background-image: url('minilogo-hover.png');
  cursor: pointer;
}
.send-button {
  position: relative;
  top: 0;
  height: 26px;
  width: 26px;
  background-image: url('return.png');
}
.send-button:hover {
  background-image: url('return-hover.png');
  cursor: pointer;
}
.input-holder {
  width: 100%;
  padding-right: 0.2em;
}

::-webkit-scrollbar {
  height: 14px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dwst-color-purplified-black);
}

::-webkit-scrollbar-thumb {
  background: var(--dwst-color-purplified-gray);
  border-radius: 0;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--dwst-color-wtf2);
}

.dwst-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--dwst-bar-height);
  width: 42ch;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .dwst-background {
    width: 74ch;
  }
}
@media screen and (min-width: 750px) {
  .dwst-background {
    width: 110ch;
  }
}
.dwst-debug .dwst-background {
  background-color: var(--dwst-color-debug-orange);
}


.dwst-background__content-area {
  position: absolute;
  top: 0;
  left: 2ch;
  right: 0;
  bottom: 0;
  width: 38ch;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .dwst-background__content-area {
    width: 70ch;
  }
}
@media screen and (min-width: 750px) {
  .dwst-background__content-area {
    left: 20ch;
  }
}
.dwst-debug .dwst-background__content-area {
  background-color: var(--dwst-color-debug-brown);
}

#screen1
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--dwst-bar-height);
  overflow: hidden;
  overflow-y: scroll;
  vertical-align: top;
  -webkit-user-select: text;
  cursor: text;
}

.terminal
{
  min-height: 100%;
  background-color: var(--dwst-color-black);
  color: var(--dwst-color-gray--light);
  font-family: monospace;
}

.dwst-debug .terminal {
  background-color: transparent;
}

/* clean ********************************************************************/

.dwst-logclear {
  float: left;
  height: calc(100vh - var(--dwst-bar-height))
}

.dwst-logline {
  padding: 0 1ch;
  display: grid;
  grid-template-columns: 1ch calc(100% - 2ch);
  grid-column-gap: 1ch;
}
.dwst-logline--command {
  margin-top: 1ch;
}

.dwst-logline__item {
  vertical-align: top;
}
.dwst-logline__item--main {
  word-wrap: break-word;
  hyphens: none;
}


@media screen and (min-width: 750px) {

  .dwst-logline {
    grid-template-columns: 8ch 10ch calc(100% - 8ch - 10ch - 2 * 1ch);
  }

}

.dwst-logline__item.time {
  display: none;
}
@media screen and (min-width: 750px) {
  .dwst-logline__item.time {
    display: initial;
  }
}

.dwst-direction {
  overflow: hidden;
  text-align: right;
}

.dwst-direction--sent
{
  color: var(--dwst-color-blue--light);
}

.dwst-direction--received
{
  color: var(--dwst-color-red--light);
}

.dwst-direction--command
{
  color: var(--dwst-color-cyan--light);
}

.dwst-direction--error
{
  color: var(--dwst-color-red);
}

.dwst-direction--warning
{
  color: var(--dwst-color-yellow);
}

.dwst-direction--system
{
  color: var(--dwst-color-green--light);
}

.dwst-gfx__content {
  overflow: hidden;
  max-width: 110ch;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
.dwst-gfx__line {
  margin: 0 auto;
}
.dwst-gfx__element {
  white-space: pre;
}

.dwst-gfx__element--color-0 {
  color: var(--dwst-color-black--af);
}
.dwst-gfx__element--color-1 {
  color: var(--dwst-color-blue);
}
.dwst-gfx__element--color-2 {
  color: var(--dwst-color-green);
}
.dwst-gfx__element--color-3 {
  color: var(--dwst-color-cyan);
}
.dwst-gfx__element--color-4 {
  color: var(--dwst-color-red);
}
.dwst-gfx__element--color-5 {
  color: var(--dwst-color-purple);
}
.dwst-gfx__element--color-6 {
  color: var(--dwst-color-yellow);
}
.dwst-gfx__element--color-7 {
  color: var(--dwst-color-white);
}
.dwst-gfx__element--color-8 {
  color: var(--dwst-color-gray);
}
.dwst-gfx__element--color-9 {
  color: var(--dwst-color-pink);
}

.dwst-gfx__element--color-a {
  color: var(--dwst-color-black);
}
.dwst-gfx__element--color-b {
  color: var(--dwst-color-blue--light);
}
.dwst-gfx__element--color-c {
  color: var(--dwst-color-green--light);
}
.dwst-gfx__element--color-d {
  color: var(--dwst-color-cyan--light);
}
.dwst-gfx__element--color-e {
  color: var(--dwst-color-red--light);
}
.dwst-gfx__element--color-f {
  color: var(--dwst-color-purple--light);
}
.dwst-gfx__element--color-g {
  color: var(--dwst-color-yellow--light);
}
.dwst-gfx__element--color-h {
  color: var(--dwst-color-white--af);
}
.dwst-gfx__element--color-i {
  color: var(--dwst-color-gray--light);
}
.dwst-gfx__element--color-j {
  color: var(--dwst-color-pink--light);
}

.dwst-bytegrid {
  font-family: monospace;
  display: grid;
  grid-template-columns: 13ch 13ch 5ch 5ch;
}
.dwst-bytegrid__item {
  white-space: pre;
}
.dwst-bytegrid__item:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}
.dwst-bytegrid__item:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
}
.dwst-bytegrid__item:nth-child(2):before {
  content: '|';
}
.dwst-bytegrid__item:nth-child(4):after {
  content: '|';
}
.dwst-bytegrid__item:nth-child(6):before {
  content: '|';
}
.dwst-bytegrid__item:nth-child(8):after {
  content: '|';
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(5) {
  display: none;
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(6) {
  display: none;
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(7) {
  display: none;
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(8) {
  display: none;
}

@media only screen and (min-width: 600px) {
  .dwst-bytegrid {
    grid-template-columns: 12ch 13ch 12ch 13ch 5ch 4ch 4ch 5ch;
  }
  .dwst-bytegrid__item:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
  }
  .dwst-bytegrid__item:nth-child(7) {
    grid-column: 4;
    grid-row: 1;
  }
  .dwst-bytegrid__item:nth-child(4):after {
    content: '';
  }
  .dwst-bytegrid__item:nth-child(6):before {
    content: '';
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(5) {
    display: initial;
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(6) {
    display: initial;
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(7) {
    display: initial;
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(8) {
    display: initial;
  }
}

.dwst-gfx {
  max-width: 110ch;
  overflow: hidden;
}

.dwst-hide {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.dwst-notification {
  position: absolute;
  bottom: calc(var(--dwst-bar-height));
  left: 0;
  right: 0;
  height: var(--dwst-bar-height);
  line-height: var(--dwst-bar-height);
  text-align: center;
  background-color: var(--dwst-color-purple--transparent);
  color: #fff;
}

.dwst-notification__link {
  color: #fff;
}
