
/*
Dark WebSocket Terminal

CC0, http://creativecommons.org/publicdomain/zero/1.0/

To the extent possible under law, Dark WebSocket Terminal developers have waived all copyright and related or neighboring rights to Dark WebSocket Terminal.

Dark WebSocket Terminal developers:
Toni Ruottu <toni.ruottu@iki.fi>, Finland 2010-2017
William Orr <will@worrbase.com>, US 2012

*/

:root {
  --dwst-dark-pink: #936;

  --bar-height: 24pt;
}

body
{
  font-family: monospace;
  font-size: 3.9vw;
  height: 100%;
  background-color: #000;
}
@media only screen and (min-width: 500px) {
  body {
    font-size: 10pt;
  }
}

.button
{
  width: auto;
  padding: 0 1em 0 0;
}
input[type="text"]
{
  background-color: #444;
  color: #fff;
  font-family: monospace;
  border: thin solid #f00;
}

.bar2 input[type="text"]
{
  background-color: #111;
  border-width: 0;
  width: 100%;
  outline: none;
}
.bar2 input[type="text"]:active {
  border-width: 0;
}

.consolebar input[type="button"]
{
  padding: 0;
  width: 5em;
}

body
{
  margin: 0;
}
.preserved {
  white-space: pre-wrap;
}

.consolebar
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--bar-height);
  background-color: #222;
}

.consolebar .time
{
  font-family: monospace;
  width: 1em;
  color: #ddd;
}

.sec
{
  color: #777;
}

.consolebar .leftpad
{
  padding-left: 1em;
}

.consolebar .rightpad
{
  padding-right: 1em;
}

.bar2
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24pt;
}
.dwst-mlog__help-link-wrapper--nowrap {
  white-space: nowrap;
}
.dwst-mlog__help-link {
  color: #888;
  font-style: italic;
  text-decoration: none;
}
.dwst-mlog__help-link--spacing {
  display: inline-block;
  padding-bottom: 1ch;
}
.dwst-mlog__help-link:hover {
  color: #ff0;
  text-decoration: none;
}
.dwst-mlog__command-link {
  color: #6ab;
  text-decoration: none;
  text-indent: -2ch;
  margin-left: 2ch;
  display: inline-block;
}
.dwst-mlog__command-link:hover {
  color: #3ef;
  text-decoration: none;
}
.dwst-mlog__hexline {
  display: inline-block;
  color: #888;
}
.dwst-mlog__code {
  color: #d52;
}
.dwst-mlog__strong {
  font-weight: bold;
}
.dwst-mlog__h1 {
  color: #fff;
  font-weight: bold;
}
.dwst-mlog__h2 {
  color: #fff;
  text-transform: uppercase;
}
.dwst-mlog__syntax {
  font-style: italic;
  text-indent: -2ch;
  margin-left: 2ch;
  display: inline-block;
}
.splash-button {
  position: relative;
  top: -3px;
  height: 26px;
  width: 48px;
  background-image: url('minilogo.png');
}
.splash-button:hover {
  background-image: url('minilogo-hover.png');
  cursor: pointer;
}
.send-button {
  position: relative;
  top: 0;
  height: 26px;
  width: 26px;
  background-image: url('return.png');
}
.send-button:hover {
  background-image: url('return-hover.png');
  cursor: pointer;
}
.input-holder {
  width: 100%;
  padding-right: 0.2em;
}

::-webkit-scrollbar {
  height: 14px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #150010;
}

::-webkit-scrollbar-thumb {
  background: #302;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #302;
}
::-webkit-scrollbar-corner {
  background: #201;
}

.dwst-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 24pt;
  width: 42ch;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .dwst-background {
    width: 74ch;
  }
}
@media screen and (min-width: 750px) {
  .dwst-background {
    width: 110ch;
  }
}
.dwst-debug .dwst-background {
  background-color: #431303;
}


.dwst-background__content-area {
  position: absolute;
  top: 0;
  left: 2ch;
  right: 0;
  bottom: 0;
  width: 38ch;
  max-width: 100%;
}
@media only screen and (min-width: 600px) {
  .dwst-background__content-area {
    width: 70ch;
  }
}
@media screen and (min-width: 750px) {
  .dwst-background__content-area {
    left: 20ch;
  }
}
.dwst-debug .dwst-background__content-area {
  background-color: #131303;
}

#screen1
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 24pt;
  overflow: hidden;
  overflow-y: scroll;
  vertical-align: top;
  -webkit-user-select: text;
  cursor: text;
}

.terminal
{
  min-height: 100%;
  background-color: #030303;
  color: #ccc;
  font-family: monospace;
}

.dwst-debug .terminal {
  background-color: transparent;
}

/* clean ********************************************************************/

.dwst-logclear {
  float: left;
  height: calc(100vh - var(--bar-height))
}

.dwst-logline {
  padding: 0 1ch;
  display: grid;
  grid-template-columns: 1ch calc(100% - 2ch);
  grid-column-gap: 1ch;
}
.dwst-logline--command {
  margin-top: 1ch;
}

.dwst-logline__item {
  vertical-align: top;
}
.dwst-logline__item--main {
  word-wrap: break-word;
  hyphens: none;
}


@media screen and (min-width: 750px) {

  .dwst-logline {
    grid-template-columns: 8ch 10ch calc(100% - 8ch - 10ch - 2 * 1ch);
  }

}

.dwst-logline__item.time {
  display: none;
}
@media screen and (min-width: 750px) {
  .dwst-logline__item.time {
    display: initial;
  }
}

.dwst-direction {
  overflow: hidden;
  text-align: right;
}

.dwst-direction--sent
{
  color: #77c;
}

.dwst-direction--received
{
  color: #c77;
}

.dwst-direction--command
{
  color: #3ef;
}

.dwst-direction--error
{
  color: #f00;
}

.dwst-direction--warning
{
  color: #ffa;
}

.dwst-direction--system
{
  color: #7f7;
}

.dwst-gfx__content {
  overflow: hidden;
  max-width: 110ch;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
.dwst-gfx__line {
  margin: 0 auto;
}
.dwst-gfx__element {
  white-space: pre;
}
.dwst-gfx__element--color-1 {
  color: var(--dwst-dark-pink);
}
.dwst-gfx__element--color-2 {
  color: #614;
}


.dwst-bytegrid {
  font-family: monospace;
  display: grid;
  grid-template-columns: 13ch 13ch 5ch 5ch;
}
.dwst-bytegrid__item {
  white-space: pre;
}
.dwst-bytegrid__item:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}
.dwst-bytegrid__item:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
}
.dwst-bytegrid__item:nth-child(2):before {
  content: '|';
}
.dwst-bytegrid__item:nth-child(4):after {
  content: '|';
}
.dwst-bytegrid__item:nth-child(6):before {
  content: '|';
}
.dwst-bytegrid__item:nth-child(8):after {
  content: '|';
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(5) {
  display: none;
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(6) {
  display: none;
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(7) {
  display: none;
}
.dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(8) {
  display: none;
}

@media only screen and (min-width: 600px) {
  .dwst-bytegrid {
    grid-template-columns: 12ch 13ch 12ch 13ch 5ch 4ch 4ch 5ch;
  }
  .dwst-bytegrid__item:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
  }
  .dwst-bytegrid__item:nth-child(7) {
    grid-column: 4;
    grid-row: 1;
  }
  .dwst-bytegrid__item:nth-child(4):after {
    content: '';
  }
  .dwst-bytegrid__item:nth-child(6):before {
    content: '';
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(5) {
    display: initial;
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(6) {
    display: initial;
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(7) {
    display: initial;
  }
  .dwst-bytegrid--less-than-three .dwst-bytegrid__item:nth-child(8) {
    display: initial;
  }
}

.dwst-gfx {
  max-width: 110ch;
  overflow: hidden;
}

.dwst-hide {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
